@use '../../styles/global' as *;
.warning {
    font-size: clamp(1.167rem, 0.875vw + 0.933rem, 2.333rem);
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(90deg, #FDD966 0%, #BCD77E 68.54%);
    border-radius: 20px;
    padding: clamp(0.667rem, 0.875vw + 0.433rem, 1.833rem) clamp(2rem, 3.5vw + 1.067rem, 6.667rem);
    color:$text-color;
    margin: 0 auto 1.5em;
    text-align: center;
    max-width: 1290px;
}