@use '../../styles/global' as *;
.warning {
    font-size: 1.16rem;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(90deg, #FDD966 0%, #BCD77E 68.54%);
    border-radius: 20px;
    padding: .275em 1.2em;
    color:$text-color;
    margin-bottom: 1.5em;
    text-align: center;
}