*,
*::after,
*::before {
	box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	border-width: 0;
}

button {
	font: inherit;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

input,
textarea,
select,
option {
	font-family: inherit;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.visuallyhidden:not(:focus):not(:active) {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.myvisuallyhidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}


.container {
	$padding: clamp(1.5rem, 15.75vw - 2.7rem, 22.5rem);
	max-width: calc(1920px + 2 * $padding);
	margin: 0 auto;
	width: 100%;
	padding-left: $padding;
	padding-right: $padding;
	
}

body {
	background: linear-gradient(180deg, #FFFFFF 35.7%, #D8EFFF 100%);
}

.sup {
	font-size: smaller;
	vertical-align: super;
}

.diagram {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.text,.text-before-cards {
	font-size: 1em;
	font-weight: 400;
	line-height: normal;
	color: #01457A;
	text-align: center;

	&>b {
		font-weight: 700;
	}

	margin-bottom: 9px;

	&:nth-child(2n) {
		margin-bottom: 1.66em;
	}
}
.text-card{
	font-size: clamp(1rem, 0.75vw + 0.8rem, 2rem);
	font-weight: 400;
	line-height: normal;
	color: #01457A;
	text-align: left;

	&>b {
		font-weight: 700;
	}

	margin-bottom: 9px;

	&:nth-child(2n) {
		margin-bottom: 1.66em;
	}
}
.text-before-cards{
	font-weight: 700;
	margin-bottom: 2em;
	font-size: clamp(1rem, 0.75vw + 0.8rem, 2rem);
}
.text-disease-head {
	font-size: clamp(1rem, 0.875vw + 0.767rem, 2.167rem);
	font-weight: 400;
	line-height: normal;
	color: #01457A;
	text-align: center;
	max-width: 347px;
	&>b {
		font-weight: 700;
	}
}

.text-small {
	max-width: 278px;
	font-size: clamp(0.833rem, 0.5vw + 0.7rem, 1.5rem);
	font-weight: 300;
	line-height: normal;
	color: #01457A;
	text-align: center;
}

.stat-text {
	text-align: center;
	font-size: clamp(1.167rem, 1vw + 0.9rem, 2.5rem);
	margin-bottom: 1.5em;
	font-weight: 700;
	line-height: normal;
	color: #01457A;
}

.info-container{
	display: flex;
	justify-content: center;
	gap:15px;
	flex-wrap: wrap;
	margin-bottom: 40px;
}