@mixin flex($gap: 0, $justify: center, $align: center, $dir: row, $wrap: nowrap) {
  display: flex;
  flex-direction: $dir;
  gap: $gap;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
}


@mixin focus($outline: none) {
  &:focus {
    outline: $outline;
  }

  &:focus-visible {
    @content;
  }
}

@mixin mediaMin($size) {
  @media (min-width:$size) {
    @content;
  }
}

@mixin mediaMax($size) {
  @media (max-width:$size) {
    @content;
  }
}