
$device-S:320px;

$device-XS:576px;

$device-M:768px;

$device-XM:876px;

$device-L:992px;

$device-XL:1200px;

$device-XXL:1400px;

$main-color:#7A5AF8;
$black-color: #2D283E;
$primary-color:#7A5AF8;
