@use '../../styles/global' as *;

.card {
    @include flex($dir: column,$gap:15px);
    border-radius: 20px;
    padding: clamp(0.833rem, 1.25vw + 0.5rem, 2.5rem) 12px;
    background: #FDD96640;

    &__icon {
        height: clamp(5.583rem, 4.188vw + 4.467rem, 11.167rem);
    }

    &__percent {
        font-size: clamp(4rem, 3vw + 3.2rem, 8rem);
        font-weight: 700;
        line-height: normal;
        color:$text-color;
    }
}