@use '../../styles/global' as *;
.heading {
    font-size: 1.67rem;
    font-weight: 700;
    line-height: 40px;
    background-image: url('../../assets/head.svg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    color: #01457A;
    margin-bottom: 1em;
    @include mediaMin($device-PC){
        font-size: 3.33rem;
        line-height: 40px;
    }
}