@use '../../styles/global' as *;

.collapse {
    display: grid;
    position: relative;
    grid-template-areas:
        "label label-text"
        "text-preview text-preview";
    justify-items: center;
    align-items: center;
    row-gap: .5em;
    border: 1px solid #01457A;
    border-radius: 20px;
    box-shadow: 0px 0px 25px 0px #8EA0AD59;
    background: #FFFFFF;
    max-width: 1290px;
    padding: clamp(1rem, 1.75vw + 0.533rem, 3.333rem) clamp(1rem, 2.5vw + 0.333rem, 4.333rem) clamp(1rem, 1.75vw + 0.533rem, 3.333rem) clamp(1rem, 1.625vw + 0.567rem, 3.167rem);
    
    margin-bottom: 1em;

    height: auto;
    max-height: 175px;
    transition: max-height .4s ease-in;

    @include mediaMin(512px){
        grid-template-areas:"label label-text text-preview";
        column-gap: 29px;
    }
    

    &--active{
        @include flex($dir:column);
        max-height: 1200px;
    }
   
    &__icon-label {
        justify-self: center;
        grid-area: label;
        width: clamp(3.333rem, 2.5vw + 2.667rem, 6.667rem);
        height: clamp(3.333rem, 2.5vw + 2.667rem, 6.667rem);
    }

    &__text-container {
        grid-area: text-preview;
    }

    &__text {
        text-wrap: balance;
        position: relative;
        font-size: clamp(1rem, 0.75vw + 0.8rem, 2rem);
        font-weight: 400;
        line-height: normal;
        color: #01457A;
        max-width: 767px;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: clamp(2.083rem, 1.875vw + 1.583rem, 4.583rem);
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffffe0 100%);
        }
    }

    &__btn {
        position: absolute;
        padding: 0;
        top: -12px;
        right: -12px;
        background: transparent;
        border: none;
    }
    &__openIcon{
        width: clamp(2.917rem, 0.813vw + 2.7rem, 4rem);
        height: clamp(2.917rem, 0.813vw + 2.7rem, 4rem);
        & > circle{
            transition: fill .4s;
        }
        @include mediaMin($device-PC){
            cursor: pointer;
        }
    }
}

.label-container {
    justify-self: start;
    grid-area: label-text;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;

    &__label {
        grid-row: 1/2;
        grid-column: 1/2;
        width: clamp(12.333rem, 9.313vw + 9.85rem, 24.75rem);
        height: clamp(4.833rem, 3.625vw + 3.867rem, 9.667rem);
        // @include mediaMin($device-PC){
        //     width: 297px;
        //     height: 116px;
        // }
    }

    &__label-text {
        max-width: clamp(9.667rem, 8.25vw + 7.467rem, 20.667rem);
        align-self: center;
        grid-column: 1/2;
        grid-row: 1/2;
        font-size: clamp(1rem, 0.75vw + 0.8rem, 2rem);
        font-weight: 400;
        line-height: normal;
        color: #01457A;

        &>b {
            font-weight: 700;
        }
    }
}

